<template>
  <v-card>
    <v-skeleton-loader type="card-heading" v-bind:loading="loading">
      <v-card-title>{{ data.Title }}</v-card-title>
      <v-card-subtitle>{{ data.Year }}</v-card-subtitle>
    </v-skeleton-loader>
    <v-card-text>
      <v-container fluid>
        <v-row justify="space-around">
          <v-col cols="12" md="4">
            <v-skeleton-loader type="image" v-bind:loading="loading">
              <v-img v-bind:src="data.Poster" contain></v-img>
            </v-skeleton-loader>
          </v-col>
          <v-col cols="12" md="8">
            <v-skeleton-loader type="paragraph@3" v-bind:loading="loading">
              <h3>Réalisateur</h3>
              {{ data.Director }}
              <v-divider></v-divider>
              <h3>Acteurs</h3>
              {{ data.Actors }}
              <v-divider></v-divider>
              <h3>Genre</h3>
              {{ data.Genre }}
              <v-divider></v-divider>
              <h3>Synopsis</h3>
              {{ data.Plot }}
              </v-skeleton-loader>
          </v-col>
        </v-row>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
import callAPI from "@/utilities/api.js";

export default {
  name: "Movie",
  data: () => ({
    loading: true,
    data: {},
  }),
  props: {
    imdb: String,
  },
  mounted() {
    callAPI([
      { key: "i", value: this.imdb },
      { key: "plot", value: "full" },
    ]).then((response) => {
      this.data = response.data;
      this.loading = false;
    });
  },
};
</script>