<template>
  <v-data-table
    hide-default-footer
    v-bind:headers="headers"
    v-bind:items="resultsArray"
    v-on:click:row="showDialog"
  >
  </v-data-table>
</template>

<script>
export default {
  name: "Results",
  components: {
  },
  data: () => ({
    headers: [
      { text: "Titre", value: "Title", width: "80%" },
      { text: "Année", value: "Year", width: "20%" },
    ],
  }),
  props: {
    resultsArray: Array,
  },
  methods: {
    showDialog(data) {
      this.$emit('show-dialog', data.imdbID);
    },
  },
};
</script>