<template>
  <v-container class="pa-0">
    <v-card class="ma-sm-4 pa-4">
      <v-text-field
      v-model="query"
      v-bind:loading="isLoading"
      label="Nom du film"
      outlined
      v-on:input="page = 1; loadAPI();"></v-text-field>
      <Results v-bind:resultsArray="results" v-on:show-dialog="showDialog"></Results>
      <v-pagination
        v-model="page"
        v-bind:length="pageMax"
        v-on:input="loadAPI()"
        v-bind:total-visible="8"
      ></v-pagination>
    </v-card>
    <v-dialog v-model="dialog.state" v-bind:key="dialog.id">
      <Movie v-bind:imdb="dialog.id"></Movie>
    </v-dialog>
  </v-container>
</template>

<script>
import Results from "@/components/Results";
import Movie from "@/components/Movie";
import callAPI from "@/utilities/api.js";

export default {
  name: "Search",
  components: {
    Results,
    Movie,
  },
  data: () => ({
    query: "",
    results: [],
    page: 1,
    pageMax: 1,
    isLoading: false,
    dialog: {
      state: false,
      id: null
    }
  }),
  methods: {
    loadAPI() {
      if (this.query.length < 3) {
        this.results = [];
        return;
      }
      this.isLoading = true;
      callAPI([
        { key: "s", value: this.query },
        { key: "page", value: this.page },
        { key: "type", value: "movie" },
      ]).then((response) => {
        this.results = response.data.Search;
        this.pageMax = Math.ceil(response.data.totalResults / 10);
        this.isLoading = false;
      });
    },
    showDialog(id) {
      this.dialog.state = true;
      this.dialog.id = id;
    },
  },
};
</script>