<template>
  <v-app>
    <Search></Search>
  </v-app>
</template>

<script>
import Search from "@/components/Search";

export default {
  name: "App",
  components: {
    Search,
  },
  data: () => ({
    //
  }),
};
</script>
